[2015-11-13 19:02] nikolas opened #11 "Forking CommonMark-py?"
I haven't put much time into upstream CommonMark compatibility on this repository, but in the meantime do you think it would be worth making this a more official fork of CommonMark-py, since that project doesn't seem to be going anywhere?

That way, we could start publishing these changes on pypi, something like: https://pypi.python.org/pypi/CommonMark2

[2015-11-13 19:27] lu-zero commented on #11
Makes sense indeed.
On 13 Nov 2015 20:02, "Nik Nyby" <notifications@github.com> wrote:

[2015-11-14 19:01] lu-zero commented on #11
@ericholscher is it a problem if I open a tree about CommonMark2-py on @rtfd ?

[2015-11-14 22:35] ericholscher commented on #11
Seems like a reasonable approach, since it seems inactive on the main repo.

[2015-11-14 22:36] ericholscher commented on #11
I'd like if we could not fork the name, and just keep `commonmark` in python be a reasonable install, but if that isn't something that can happen, I guess having `commonmark2` on PyPI is okay.

[2015-11-17 15:35] nikolas commented on #11
In order to keep the `commonmark` name we would need to have admin access to the original pypi package. It looks like @rolandshoemaker or @kafle could handle that.

[2015-11-24 04:34] rolandshoemaker commented on #11
Hey guys, really sorry I've been ignoring this for so long, I started a new job around 6 months ago and I've been absolutely swamped. Looks like you guys are doing good work on the project which I don't have time to do so I'm happy to transfer the PyPi stuff over to you guys and stick a notice on my repo directing people here since both still seem to get a bunch of traffic but are unmaintained (no

[2015-11-30 07:23] svetlyak40wt commented on #11
:+1:

[2015-12-04 19:44] nikolas commented on #11
That's cool.. yeah it would be great if @lu-zero or whoever wants to was able make new releases and put them on https://pypi.python.org/pypi/CommonMark

Then there's a better possibility of someone getting this library working with the newer commonmark specs. Let us know when you get a chance to add us to the repo. My pypi username is nnyby.

[2015-12-04 19:47] ericholscher commented on #11
My pypi username is `ericholscher` -- Happy to handle releases as well. You can add people from this page: https://pypi.python.org/pypi?:action=role_form&package_name=commonmark

[2015-12-07 21:19] batisteo opened #14 "Better API for humans"
Having a simple API similar to [`markdown2`](https://github.com/trentm/python-markdown2#quick-usage):

[code]

[2015-12-08 18:06] lu-zero commented on #11
The repository moved to @rtfd I hope I got the procedure right.

[2015-12-08 18:12] lu-zero opened #21 "Prepare documentation"
And publish it on @rtfd as well.

[2015-12-08 20:11] ericholscher commented on #11
Looks good -- the only question is if we want to preserve the `forked from` at the top. If we create the repo fresh it won't contain that forked from status, which makes it look non-canonical. I imagine that if the original repo is deleted, the forked from status will also disappear.

[2015-12-08 21:52] lu-zero commented on #11
I guess so, anything is fine since the project is quite young.

[2015-12-08 23:27] nikolas commented on #11
An alternative to deleting the original repo could be putting a notice up there linking to this one. For example, a similar thing happened to factory_boy: https://github.com/dnerdy/factory_boy

But yeah, there would still be the "forked from" link at the top. I'm fine with whatever, we could see how the original author feels.

[2015-12-12 22:15] lu-zero opened #28 "Support Tables"
See https://github.com/rtfd/recommonmark/issues/3

We should probably match the support markdown-it implemented at least.

[2015-12-18 05:55] nikolas opened #29 "0.5.5 release"
In order to stay organized, and allow people to use our new code, which will help with stability, let's make a 0.5.5 release tagged at the commit where I incremented the version number here: https://github.com/rtfd/CommonMark-py/pull/16

I don't have permission to do this: https://github.com/rtfd/CommonMark-py/releases

[2015-12-18 20:22] ericholscher commented on #29
Released. Thanks for the reminder.

[2015-12-18 20:29] nikolas commented on #29
Thank you. I think we should also make a wheel file of this version and attach it to the release. I can make it and send it to you if necessary.

[2015-12-18 20:31] ericholscher commented on #29
I'd like to release it to PyPi when we get the proper keys there -- I think
a GitHub release isn't really going to be widely used, and still seems
unofficial until we push to PyPi.

On Fri, Dec 18, 2015 at 12:29 PM, Nik Nyby <notifications@github.com> wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-12-18 20:34] ericholscher commented on #11
@rolandshoemaker Would be great to get access to the PyPI release, as we're hoping to get 0.5.5 out the door, and get it publicly released. I know you don't have a huge amount of time, but you should be able to go to  https://pypi.python.org/pypi?:action=role_form&package_name=commonmark & just add `ericholscher` and `nnyby` is maintainers it would be awesome :fireworks:

[2015-12-18 20:45] ericholscher commented on #29
@nikolas You should also have push access on the repo now -- so you can upload it if you want. :fireworks:

[2015-12-18 20:58] nikolas commented on #29
Cool thanks a lot.

Yeah, I guess having a wheel file on github is not so important since it's not like many people are using this until it's on pypi. I just wanted us to be able to refer to version numbers when debugging stuff during development, and use the new versions on my django projects to test them, but I can just make my own wheel files.

[2015-12-21 20:57] lu-zero opened #31 "Support cross-references"

[2015-12-21 20:58] lu-zero opened #32 "Support definition list"
Following the multimarkdown specification.

[2015-12-30 16:34] nikolas commented on #11
I created a pypi support request here: https://sourceforge.net/p/pypi/support-requests/573/  We might be able to get access that way.

[2015-12-30 17:34] rolandshoemaker commented on #11
Hey guys, *extremely* sorry this has taken so long, I've had to travel a lot recently due to family stuff and have been very distracted.

Just added you both to the PyPi page as maintainers so that you can release updates via that channel, and have added a notice to `rolandshoemaker/commonmark-py` that says the following

**NOTE:** This repo is no longer maintained and most likely contains numerou

[2015-12-30 17:47] nikolas commented on #11
Ah I understand, thanks a lot - everything looks good.

[2015-12-30 17:47] #11 closed

[2015-12-31 22:15] nikolas commented on #29
This is on pypi now https://pypi.python.org/pypi/CommonMark/0.5.5

[2015-12-31 22:15] #29 closed

[2015-12-31 22:18] ericholscher commented on #29
:+1:

[2016-01-05 10:48] rossant opened #45 "Interface with pandoc"
Hi, thanks for taking over this project!
I'm currently writing a pandoc-compatible Python library for converting markup documents. It implements a language-independent AST that is almost the same as pandoc's. For the markdown parser I'm considering using CommonMark-py (I'd rather use CommonMark rather than another Markdown parser). What I need to do is convert the CommonMark-py AST to the pandoc A

[2016-01-05 13:10] nikolas commented on #45
I don't know if this helps or makes it more difficult, but as of version 0.6.0 of this library, the AST has gone through a radical change, and now has the same format as [commonmark.js](https://github.com/jgm/commonmark.js/).

Each node is now a doubly-linked list: instead of an array of `children`, there are `nxt` and `prv` references.

Also, instead of a `strings` array, you get the node's strin

[2016-01-05 15:39] willingc commented on #45
@rossant @nikolas I echo Cyrille's thanks for taking over this project. Thanks Cyrille for the ongoing work with IPython/Jupyter. I'm working with Project Jupyter at Cal Poly, and we have been looking at ways to make our Sphinx docs more visually appealing with Markdown and .ipynb sources as well as build more cleanly in Sphinx. If I can help with this effort or others related to improving display

[2016-01-05 15:42] lu-zero commented on #45
@willingc if you have time to recommonmark to use the new layout would be awesome =) (see https://github.com/rtfd/recommonmark/issues/24)

[2016-01-05 15:45] willingc commented on #45
@lu-zero I will give it a look. I was actually running into this issue yesterday.

[2016-01-05 15:50] rossant commented on #45
@willingc [ipymd](https://github.com/rossant/ipymd) already lets you convert between `.ipynb <-> .md`. The project I'm working on will supersede it and will allow more conversion options. It will be compatible with pandoc, so you'll be able to do `.ipynb <-> .md <-> .rst`. If I can find a good ReST parser in pure Python, you won't even need to have pandoc installed.

[2016-01-05 15:53] rossant commented on #45
@nikolas thanks, I'll have a look. I think it should work fine. No problem to update my code when the internal CommonMark AST changes.

For Spaces I think I should be able to parse `Str` elements and create them manually.

[2016-01-05 16:04] willingc commented on #45
@rossant That would be awesome. I played around with ipymd a few weeks ago. It's on my radar :-)

[2016-01-05 17:24] ericholscher commented on #45
@rossant It might be worth looking at https://github.com/rtfd/recommonmark -- which does the mapping of the Commonmark-Py AST into the docutils (RST) AST. It's using the old version of commonmark, and hasn't been updated to 0.6 yet.

I'm definitely interested in this though, as I'd like to get more support for other markup languages into Sphinx itself. recommonmark is our approach to using Commonm

[2016-01-05 17:40] jgm commented on #45
In my Haskell bindings (cmark-hs), I convert between the cmark AST and the pandoc AST.  You might find this helpful as a guide:  https://github.com/jgm/cmark-hs/blob/master/CMark.hsc

The conversion is bidirectional:  see `toNode` and `fromNode`.

I chose not to represent Spaces explicitly in the AST because stopping at every space slows down parsing significantly.  But getting this back is just a

[2016-01-06 13:06] rossant commented on #45
thanks @jgm that's very useful. I think I'll not represent Spaces either, I'll just add them when exporting to pandoc AST JSON.

[2016-01-08 16:15] nikolas commented on #14
This was added in d5aea730c52f986d412688e596816be9ce671315

[2016-01-08 16:15] #14 closed

[2016-01-12 10:23] rossant opened #49 "Math equations"
Do you plan to support math equations, for example enclosed between `$...$` or  `$$...$$`? The CommonMark spec doesn't seem to support it, although [there are discussions about it](http://talk.commonmark.org/t/mathjax-extension-for-latex-equations/698/6).

If the answer is no, is there any way for a third-party library to implement a parsing extension for CommonMark-py?

If the answer is still no,

[2016-01-12 14:24] nikolas commented on #49
I can't speak for the other people working on this repo, but personally I don't plan on implementing this math feature in this library in the near future.

I think that a feature like this would work fine as a post-processing step, separate from CommonMark-py. For example, I use commonmark in my office's project management system for comments. After processing the user's text in commonmark, I run

[2016-01-12 14:40] rossant commented on #49
OK. I just implemented a separate [preprocessing step](https://github.com/podoc/podoc/blob/master/podoc/markdown/_markdown.py#L246-L259) before passing contents to CommonMark-py, and it seems to work (at least on simple cases). In my case I need to wrap math contents within code elements, otherwise things like `$a_0 + a_1$` will be messed up because of the double `_`. I can then detect these speci

[2016-03-27 00:31] nikolas opened #58 "Update to version 0.25 of the CommonMark spec"
http://spec.commonmark.org/0.25/

[2016-04-02 21:16] yuhui-lin opened #59 "The wheel file distributed has a spurious path"
I am using macbook.
$sudo -H pip install commonmark
[code]

[2016-04-03 04:16] lu-zero commented on #59
Check your python setup, looks like your venv is having problems.

[2016-04-05 15:18] me-and commented on #59
The problem has nothing to do with the Python setup or virtual environment – it's in the Wheel file on PyPI – if you [download it](https://pypi.python.org/packages/3.4/C/CommonMark/CommonMark-0.6.3-py2.py3-none-any.whl#md5=476acd845d4d66a2d4065ca0d604d8a9) and unpack it with your preferred zip file manager, you'll find that `/home/nnyby/src/...` line as the shebang in the packaged `cmark.py` file.

[2016-04-05 15:30] yuhui-lin commented on #59
Thanks for your solution. @me-and .
what I did is changing the first line of ``/usr/local/bin/cmark.py`` from ``#!/home/nnyby/src/CommonMark-py/venv/bin/python`` to ``#!/usr/bin/python``.
It looks stupid, but it fixed my problem.

[2016-04-05 16:03] lu-zero commented on #59
Let's keep it open and cc @nikolas

[2016-04-05 16:54] pydsigner opened #60 "Package name is not PEP 8 compliant"
I realize that there are already many users of the package, but is there any possibility of the package's name being made to be PEP 8 compliant (and also match the js version)? It's a small issue but I'd much rather be looking at `import commonmark` than `import CommonMark` in my code.

[2016-04-05 16:56] lu-zero commented on #60
Probably we could provide CommonMark as alias for the time being and the second next major version drop it.

Willing to send over a patch for it? =)

[2016-04-05 16:56] ericholscher commented on #60
Should be pretty easy to do `import CommonMark as commonmark`, we could
also ship with the lower-case alias in the core distro. I wouldn't be
opposed to a PR that did this.

On Tue, Apr 5, 2016 at 9:54 AM, Daniel Foerster <notifications@github.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2016-04-05 17:06] pydsigner commented on #60
I'll try to get a PR prepared tonight.

[2016-04-05 17:07] nikolas commented on #59
Oh jeeze... my home directory path shouldn't be in the wheel file! Obviously something is messed up here.. I will investigate and fix this evening. Thanks for letting me know.

I generated this wheel file in a virtualenv, running `./venv/bin/python setup.py sdist bdist_wheel`... I'll find out what I need to do differently.

[2016-04-05 17:08] nikolas commented on #60
I would also prefer `commonmark` over `CommonMark`! Thanks for bringing this up.

[2016-04-07 04:26] nikolas commented on #59
It looks like this is a bug in wheel, the subunit project also ran into this problem, and opened this ticket: https://bitbucket.org/pypa/wheel/issues/135/bad-interpreter-lines-can-sneak-into

I'm still trying to figure out a way to fix our wheel file, though. I can't seem to find the right procedure of generating the wheel file that doesn't have the bad path in it.

[2016-04-19 08:07] mgeier commented on #49
I'm +1 on an extension for math (both inline and block level).

@nikolas This will not work as a post-processing step, because it has to happen before escaped punctuation is handled and, as @rossant mentioned, before inline Markdown formatting is handled.
It would be really great if this could be handled as an extension during parsing.

[2016-04-26 19:10] nikolas commented on #60
Also maybe worth noting that this repository could also be renamed to something like commonmark.py.

[2016-05-03 14:51] nikolas commented on #60
@pydsigner have you made any progress with this? To me it seems like a difficult problem to fix without making a new package. Also, when I navigate to https://pypi.python.org/pypi/commonmark it redirects me to https://pypi.python.org/pypi/CommonMark. It would be nice to change that as well but I don't know how.

[2016-05-03 15:52] #21 closed

[2016-05-03 20:14] goodmami opened #63 "Output Markdown from AST"
Is it within the project's scope to generate CommonMark from the AST? I'm looking for something that lets me programmatically assemble an AST and generate Markdown, e.g. for generating GitHub wikis. For example, if this were possible:

[code]

or even:

[code]

Then I could do:

[code]

Or perhaps this is something that would first have to be done in https://github.com/jgm/commonmark.js?

[2016-05-07 17:34] pydsigner commented on #60
@nikolas I unfortunately have been a bit busier than hoped, but I do have a plan of how to do this.

[2016-05-09 00:01] goodmami commented on #63
After digging around a bit more, I found that this has been [discussed before](http://talk.commonmark.org/t/commonmark-ast-to-commonmark-text-in-javascript/1087) at <talk.commonmark.org>, and furthermore it's already done in cmark as of [v0.24.1](https://github.com/jgm/cmark/releases/tag/0.24.1), so I'd like to think it's in-scope.

Maybe I'll have to submit a PR (if I can put together the rendere

[2016-05-09 13:41] #58 closed

[2016-05-10 14:15] JoshData opened #65 "Render plain text from AST"
Similar to #63, I'm wondering if it would be in scope to add a plain-text renderer, which would generate nice looking plain text output from the AST.

I put together:

https://github.com/JoshData/commonmark-py-plaintext

This is different from CommonMark output: Links, for instance, are represented in a way that's understandable by people who don't know CommonMark, rather than in the \[]()-style n

[2016-05-10 17:48] ericholscher commented on #65
I'm of two minds of this kind of thing. I think in general it's good to enable an ecosystem of projects, so that we don't need to ship all these extensions with the core. I've seen a lot of success with projects built that way, with the trend being taking more of the core functionality out of the default repo/distribution, and enabling a large set of extensions that are more powerful because the c

[2016-05-10 19:46] JoshData commented on #65
I totally get what you mean about not wanting to take on the maintenance responsibility.

That said, the reason I ended up here is that I wrote a renderer over the weekend against 0.6.3, and then after unwittingly upgrading to 0.6.4 the renderer broke. If the renderer is a part of the public API, it would be nice to have a little more stability between minor releases --- and having a second render

[2016-05-10 19:48] JoshData commented on #63
Fyi, I have some work-in-progress code for this at https://github.com/JoshData/commonmark-py-plaintext.

[2016-05-10 21:08] goodmami commented on #63
Thanks! Looks like a good start. Although the backslash escaping is excessive (e.g. for links; see http://spec.commonmark.org/0.25/#example-294)

[2016-05-11 03:03] nikolas commented on #63
I will implement the CommonMark renderer in this library if jgm puts it in commonmark.js. In the meantime, JoshData's library looks cool, maybe we can incorporate that into CommonMark-py if necessary.

[2016-05-11 03:06] nikolas commented on #65
@JoshData sorry about the API breakage between minor versions. I will try to stick to more semantic versioning.. maybe I should have incremented the version to 0.7.0 instead of 0.6.4. There were many changes in this release since jgm refactored the rendering code in commonmark.js.

[2016-05-11 13:03] JoshData commented on #63
@goodmami Thanks, good point. I've pushed a few more commits.

[2016-05-11 13:04] JoshData commented on #65
Ok thanks. :)

[2016-05-11 16:44] goodmami commented on #63
@nikolas Thanks! Is there a reason you are bound to commonmark.js? cmark is also a reference implementation. Perhaps because Javascript might be easier to port to Python? I'm just curious; not trying to be insistent.

@JoshData Great, thanks

[2016-05-11 17:57] nikolas commented on #63
@goodmami That's a good point.. we aren't necessarily bound to commonmark.js, that's just where the original authors of this library happened to be porting the code from. There's no reason we can't also port the C code using cmark. I'll take a closer look at cmark and see if it makes sense to use both of these reference implementations with CommonMark-py. I wasn't aware that jgm was adding differe

[2016-05-13 23:11] civalin opened #66 "TypeError: unsupported operand type(s) for +=: 'NoneType' and 'str'"
## Error Detail

I got a error:

[code]

... when I render the following markdown content...

[code]

----

line1 - `> + more than 5 space indent`
line2 - `> + no content`
line3 - `a empty line`

Reference to js version:

<http://spec.commonmark.org/dingus/?text=%3E%20%20%20%20%20sometext%0A%3E%0A%0Aanything%20else...>

## platform

- CommonMark version is `0.6.4` on pypi.
- Install with `sudo -H

[2016-05-16 15:16] nikolas commented on #66
Thanks for the report, there's a fix here: https://github.com/rtfd/CommonMark-py/pull/67

[2016-05-16 19:33] #66 closed

[2016-06-01 01:02] nikolas opened #69 "unit tests aren't running in python 2.6"
https://travis-ci.org/rtfd/CommonMark-py/jobs/130652177#L415

[2016-06-01 18:55] nikolas commented on #59
This can be fixed by declaring the script via setup.py's entry_points attribute instead of in scripts. I've followed piprot's example: https://github.com/sesh/piprot/blob/master/setup.py#L26

I've just opened a pull request that should address this problem.

[2016-06-03 17:30] #59 closed

[2016-06-22 22:01] irskep opened #75 "Treat AST node names as a public interface when bumping package version number"
I work on a [project](http://steveasleep.com/computerwords/) that integrates closely with the CommonMark library. Specifically, I need to read Markdown as an AST instead of dumping it right to HTML.

I got a working implementation without too much trouble based on 0.6.3, but in 0.6.4, you renamed all your AST nodes, breaking my code! This is not something I would expect in an 0.0.x release.

You'v

[2016-06-23 18:06] nikolas commented on #75
Yeah, I renamed the AST nodes to keep them consistent with the upstream [commonmark.js](https://github.com/jgm/commonmark.js). Sorry for releasing this change in a minor version release! I'm still getting used to semantic versioning.

And yeah, the AST is an internal interface that goes through pretty constant change (all decided by commonmark.js's author), but it's fine to use yourself, as long a

[2016-07-01 20:59] #65 closed

[2016-07-05 08:36] rplCloud opened #76 "Understanding of JSON output"
Hi all,

I try to get JSON output using this library.

I tried the Python library and the cmark command line tool with the same results. HTML and AST looks ok for me:

[code]
[code]
[code]
[code]

But I do not understand the JSON output:

[code]
[code]

Honestly, I have no idea what this all about...

I expect some like this:

[code]

Can you give me some hints what I am oing wrong?

Regards,
Reto

[2016-07-19 13:04] nikolas commented on #76
It looks like it's printing out the internal structure for the Node class. See https://github.com/jgm/commonmark.js/blob/master/lib/node.js#L70

We could change this to be more user-friendly.

[2016-07-19 20:26] nikolas commented on #76
After reproducing the problem, it looks like the [ASTtoJSON](https://github.com/rtfd/CommonMark-py/blob/master/CommonMark/main.py#L66) function is broken. I will look into it. Thanks for letting me know.

[2016-07-20 01:12] nikolas commented on #76
I've come up with a fix and made a pull request, which will get merged soon.

[2016-07-20 15:20] #76 closed

[2016-07-25 14:02] #75 closed

[2016-08-03 21:45] hyperknot opened #79 "pip install different from GitHub source, includes duplicate / old methods?"
When trying to find the new syntax to set softbreak, I've run across the following issue.

1. There are files in the pip install which are not in Github project source. For example, `html.py`
2. These file contain possibly old, non-compatible code. For example `html.py` has

[code]

3. This is really confusing, as there is an other (newer?) implementation in render/html.py, which says

[code]

I'v

[2016-08-04 13:21] nikolas commented on #79
Thanks for letting me know.. that's really annoying! I'll release a new version soon. It looks like this happened because I didn't remove my `build` directory when making the version that switched from using `html.py` to `render/html.py`. It won't happen again.

[2016-08-10 15:55] nikolas commented on #79
I've released version 0.7.2 which doesn't have those outdated files. Let me know if you still run into something weird.

[2016-08-10 15:55] #79 closed

[2016-08-10 16:25] hyperknot commented on #79
Thanks!

On 10 August 2016 at 17:55, Nik Nyby <notifications@github.com> wrote:

[2016-08-26 15:19] badersur opened #82 "ImportError when used with Google App Engine"
When I try to use the library with App Engine I get this error, if I put `import CommonMark` at the top:

[code]

But, when I `import CommonMark` inside a method I get:

[code]

I am used to add other libraries to my App Engine projects as described in App Engine's [installing a library][1] document but this library causes these errors even though it is working with webapp2 outside App Engine!

**

[2016-08-26 15:20] nikolas commented on #82
What version of python did this occur on?

[2016-08-26 15:22] badersur commented on #82
@nikolas It is Python 2.7.12

[2016-08-26 15:29] nikolas commented on #82
Interesting, `check_output` was introduced in Python 2.7. The line of code that's causing this error is here in python-future:
https://github.com/PythonCharmers/python-future/blob/master/src/future/backports/misc.py#L900

My wild guess would be that Google App Engine has a custom version of Python 2.7.12. But I know nothing about GAE, so I don't really know. In any case, I suggest opening this iss

[2016-08-26 15:41] badersur commented on #82
Thank you @nikolas. I'll open this issue with python-future.

Should I close the issue here or you'll close it?! It's my first time using issues!

[2016-08-26 15:49] nikolas commented on #82
I'll close it, and you can link to this issue from the one you create with python-future, so they have some sense of how this error came about.

[2016-08-26 15:49] #82 closed

[2016-11-24 01:26] nikolas opened #84 "Update to spec version 0.27"
http://spec.commonmark.org/0.27/changes.html

[2016-12-21 02:03] rmuslimov opened #85 "Consider add implementation of sub/sup tags"
I found that this http://pandoc.org/MANUAL.html#superscripts-and-subscripts feature might be useful, do you think if it's good idea add implementation of this?

[2016-12-21 04:57] nikolas commented on #85
This library closely follows the [CommonMark spec](http://spec.commonmark.org/).. for features like this you can suggest them here: https://talk.commonmark.org/c/spec

If we can implement this feature as some sort of extension to the core parser, like a post-processing step, then we could include it here.

[2017-01-05 03:52] nikolas commented on #69
well, now they're running but failing: https://travis-ci.org/rtfd/CommonMark-py/jobs/189066406#L338

[2017-01-05 04:49] #69 closed

[2017-01-05 14:35] #84 closed

[2017-01-23 21:41] belak commented on #28
I assume nobody's working on this (as there doesn't appear to be an official extension yet) but are there any plans to support any of the existing table syntaxes?

[2017-02-19 08:55] agjohnson commented on #28
I believe I am going to take a swing at this tomorrow. I raised the following question on rtfd/recommonmark#3 already:

Do we keep CommonMark vanilla CommonMark, and instead subclass or patch the `CommonMark.Parser` in `recommonmark`, or would experimental CommonMark spec features make more sense in the `CommonMark` package?

I'd like to keep experimental features configured under an option flag,

[2017-02-19 11:41] diwalkerdev opened #91 "Link Nodes do not have Sourcepos property."
I'd like to modify links within my markdown files when building a distribution and this would be easier if the Link nodes also contained the Soucepos property.

For example, given the markdown:
[code]

Outputs the AST:
[code]

My goal is to do something like:
[code]

I guess my question is, is there any reason why it doesn't? Or is there a better way to achieve my goal?

Thanks

[2017-02-19 14:40] nikolas commented on #28
Cool, sounds good. Up to this point I have been trying to focus on the upstream commonmark spec, and afraid of adding new syntax like this because it could it more complicated to maintain. I definitely see how this is a needed feature though for recommonmark / rtfd, and I like the idea of experimental features under an options flag.

Keep in mind that the Python-Markdown library supports tables:
h

[2017-03-07 19:29] nikolas commented on #91
Can you give me a concrete example of what this means, like with an input and output? I'm not sure what you're talking about.

[2017-04-25 09:59] dhensen opened #94 "Detach fork from parent repo to make this repo searchable"
I noticed when trying to search in the code of this repo the following error message:

Is it an option to detach from the parent repo in order to be able to search in the code of this repo on github?

[2017-04-25 12:32] nikolas commented on #94
No, it's not an option that I'm aware of, but correct me if I'm wrong.

[2017-05-04 22:00] dhensen commented on #94
It's indeed not an option in the github settings UI. But I know that one can ask Github support and they will do it for you if you want them to.

[2017-06-01 12:57] akvadrako opened #96 "API docs"
Is there any?

[2017-06-01 13:27] nikolas commented on #96
We have sphinx / readthedocs set up here: https://commonmark-py.readthedocs.io/en/latest/index.html

It looks like the actual API documentation there isn't working correctly. Thanks for the reminder, we need to fix this.

[2017-06-09 14:27] alvra opened #98 "Problem with options={'smart':True} and python3"
When running on python3, integer division can give floats.
This gives a problem in https://github.com/rtfd/CommonMark-py/blob/master/CommonMark/inlines.py#L97 which now tries to multiply a string by a float.

[code]

The solution is to convert `CommonMark.inlines.smart_dashes` to use integer division (`//`) instead of true division (`/`). Adding `from __future__ import division` to the top of this

[2017-08-29 16:19] #98 closed

[2017-09-06 19:24] unode commented on #63
Any work done in this front? I'm currently looking for exactly this.
At the moment it seems like no other "markdown" python library out there provides a way to output the same format that was parsed.

[2017-09-06 19:41] goodmami commented on #63
@unode: I'm not sure about others, but I'm not working on it and I'm currently unable to take up the task. I would still like to see it implemented, though!

Also, if this repo is de facto bound to commonmark.js, then [this issue](https://github.com/commonmark/commonmark.js/issues/83) needs to be resolved first. But if this repo is free to implement features from cmark as well, then it's just a pu

[2017-09-15 15:36] hason opened #106 "API for extensions"
I want to to customize parser, renderer etc. It would be awesome expand API to register extensions.

See:
- https://commonmark.thephpleague.com/customization/overview/ and https://github.com/thephpleague/commonmark#community-extensions
- https://github.com/markdown-it/markdown-it#syntax-extensions and https://markdown-it.github.io/markdown-it/#MarkdownIt.use

[2017-10-06 18:44] nikolas commented on #60
Maybe this is just a matter of changing the `name` in `setup.py` from CommonMark to commonmark. And we would also want to move the `CommonMark` directory to `commonmark`. Of course, I would hate to break everyone's existing imports. Our readme directs users to `import CommonMark`.

[2017-11-01 13:30] JoshData commented on #28
Hi all. I have a mostly working implementation of an extension to this library for parsing and rendering tables here:

https://github.com/GovReady/CommonMark-py-tables/blob/master/CommonMarkTables/__init__.py

It attempts to follow Github Flavored Markdown.

We'd be happy to have this be incorporated into this library, or not (because I totally understand the hesitance over incorporating non-stand

[2017-11-14 10:35] jjmurre opened #109 "Colon and backslash (break) does not work with formatting"
The following markdown is not rendered correctly as html:

    *text:*\
    next line

The rendered html contains the *:

    <p>*text:*nextline</p>

[2018-02-12 17:00] nikolas commented on #109
It looks like there's an ambiguity in the commonmark spec, as commonmark.js renders this slightly differently: http://spec.commonmark.org/dingus/

You could raise this in the CommonMark discussion forum to come up with some well-defined behavior for this: https://talk.commonmark.org/

This library just follows the behavior defined in `spec.txt` - if everything's working according to that, then it'

[2018-02-12 17:00] #109 closed

[2018-03-10 19:24] sjml commented on #98
Are there any near-future plans for a release? Would love to be using the library with Python 3 but this bug is currently holding me back, and the fix hasn't made its way to a release yet.

[2018-03-11 03:42] nikolas commented on #98
Ah sorry - I see there hasn't been a release that includes this fix last August. Thanks for reminding me, I will make a new commonmark-py release soon.

[2018-03-11 03:43] sjml commented on #98
Thanks! Sorry to be "that guy;" I just stumbled over the bug. Thanks for all your great work!

[2018-03-20 10:42] nzjrs opened #126 "Add a link to https://commonmark-py.readthedocs.io/en/latest/"
In the README or from anywhere really.

[2018-03-20 10:43] nzjrs commented on #126
cancel that. there are no docs there

[2018-03-20 10:43] #126 closed

[2018-04-12 20:00] nikolas commented on #94
Ah, I think this may be because I'm not necessarily and "admin" of this repo (I don't have a Settings tab available), I just have commit privileges as a developer. Maybe @ericholscher can take a look and address this.

[2018-04-12 20:02] nikolas opened #128 "Update project URL"
Hi Eric,
When you get a chance, can you update this repository's URL to: https://commonmark-py.readthedocs.io/

I don't have privileges to edit this.

Thanks!

[2018-04-13 02:26] ericholscher commented on #94
Hmm. I'm fine detaching the fork, but it sounds like we need to email github?

[2018-05-24 05:57] leniy commented on #28
I know `recommonmark` will **never** support `table` , cause this is a major feature than `markdown` , to let people to use rst.

So,is there any other `Parser` for `sphinx` to use ?

[2018-05-31 15:51] nikolas commented on #94
@ericholscher yes, contacting GitHub support sounds like the way to do it: https://stackoverflow.com/a/16052845/173630

I'll let you handle this since I don't have admin privileges here.

[2018-07-01 22:06] jonathan-s commented on #94
In my experience they are fairly quick in handling issues like this. Has an email been sent?

[2018-07-04 01:44] quadrupleslap commented on #91
AFAICT they wanted to take markdown files as input and also output the same markdown files, but with extension removed from every link.

[2018-07-09 13:59] nikolas commented on #94
I'm not sure if @ericholscher has sent the email yet. Eric - if you don't have time to manage this I'm happy to do it if you'd like to give me admin access to this repo.

[2018-07-10 09:31] ericholscher commented on #94
I've emailed them 👍

[2018-07-17 13:48] daniele-niero commented on #106
This is actually the only thing that makes me not using CommonMark-py in favor of other tools, which is a shame because I support the idea and arguments behind Commonmark, despite some hate against it, especially from the author of the original Markdown specification

[2018-08-28 02:27] nikolas commented on #94
I haven't seen any changes, so I just opened a support request on GitHub for this.

[2018-08-28 05:05] nikolas commented on #94
@ericholscher GitHub needs permission to do this from someone with admin permissions on this repo:

[2018-09-03 16:31] nikolas commented on #60
Alright, it looks like just renaming the `CommonMark` directory to `commonmark`, and changing all the imports solves this problem.

I've also symlinked `CommonMark` to `commonmark` for now, for compatibility.  I've opened a pull request here: https://github.com/rtfd/CommonMark-py/pull/131

[2018-09-03 16:37] #60 closed

[2018-09-04 14:37] abulte opened #134 "Broken package on MacOS since 0.8.0"
Hi,

#60 #131 seems to break the package installation/import on MacOS (10.13.6, APFS volume, homebrew python 2.7.10).

[code]

FYI the package is still installed under `site-packages/CommonMark` for me, but if I understand #131 correctly it should be under  `site-packages/commonmark`?

Thanks!

[2018-09-04 17:51] kislyuk commented on #134
We are facing the same problem.

It seems that the package namespace was rearranged and the API has changed in a breaking way. When this happens, it's best practice to update the major version. Ideally commonmark 0.x.x should retain the old API, while commonmark 1.x.x should incorporate the breaking namespace changes.

[2018-09-05 13:48] abulte commented on #134
More info after a few tests: if I clone the repo and install the package with `pip install .`, the package is correctly installed in `site-packages/commonmark` and `import commonmark` will work OK. Apparently this bug only happens if you install from pypi.

[2018-09-06 17:32] nikolas commented on #134
I've released a new 0.8.1 version of this package. I'm using Linux so I can't tell whether the problem with macOS is fixed.

One thing I still need to fix: on PyPI's website, the package name is still CommonMark, even if you try to visit the lower-cased version here: https://pypi.org/project/commonmark/

However, the version that I just uploaded on test.pypi.org is correct: https://test.pypi.org/p

[2018-09-06 19:00] nikolas opened #136 "Proposol to move project to jazzband"
I would like to move this project to the [Jazzband](https://jazzband.co/) organization to ensure that it continues to receive admin and maintenance support if I or any of the readthedocs admins aren't around. Jazzband already maintains a bunch of libraries similar to CommonMark-py: https://github.com/jazzband

@ericholscher @agjohnson does this sound like a good idea?

[2018-09-07 07:32] edmorley commented on #134
Our Read the docs builds have just started failing, with:

[code]

Please can this breaking change be reverted and released in a point release, then the change relanded for a new major version bump?

[2018-09-07 07:52] abulte commented on #134
Thanks 🙇 for taking care of this @nikolas. I can confirm that `0.8.1`is 👌 on my environment.

I also agree with @edmorley that this change (alias removal) should be introduced in a new major.

[2018-09-07 08:48] ericholscher commented on #136
Seems like a neat idea. I'm definitely not keeping up w/ this repo as much as I should be. I'm not 100% sure if Jazzband would be beneficial, but if it would allow things to be better maintained, I'm +1 on it.

[2018-09-07 08:48] ericholscher commented on #94
I don't see the email that I'm meant to respond to?

[2018-09-07 08:49] ericholscher commented on #94
Ah, just got it :)

[2018-09-07 10:46] edmorley opened #137 "Breaking change in 0.8.0 - "ImportError: No module named CommonMark""
Hi!

There was a breaking change in commonmark v0.8.0 (and also present in v0.8.1), that causes our sphinx+recommonmark build to fail:

[code]

See:
https://travis-ci.org/mozilla/treeherder/jobs/425655351#L641

Our requirements file (that has now been pinned to commonmark 0.7.5, the last release that works with recommonmark `master`) is here:
https://github.com/mozilla/treeherder/blob/817ac227f3cd

[2018-09-07 18:36] anthraxx commented on #134
@nikolas the symlink removal broke every Linux distro packaging and the PEP complience change actually ruined compatibility with anything that depends on the modules (like python-recommonmark.

What is your plan for the situation, common to PEP complience without symlinks and force all depending packages to be fixed? This would be important to know before pinging such libraries to fix the import a

[2018-09-07 18:43] eli-schwartz commented on #134
But... you're not fixing the problem?

What is a symlink supposed to do in the first place? How is it not necessary to provide compatibility anyway?

But then you completely break API in a point release which is **not fixing things**.

It's not exactly challenging to provide a module under two names. Since I guess Arch Linux won't be foolish enough to update to new versions of commonmark any time

[2018-09-10 13:38] nikolas commented on #134
@anthraxx yeah - the idea is if you're depending on the old CommonMark namespace then just stay at version 0.7.x.

[2018-09-10 13:41] nikolas commented on #134
@eli-schwartz I have fixed the problem reported by @abulte: version 0.8.0 doesn't work on Mac OS.

Sorry everyone about the namespace confusion, I was holding off on pushing out this change because I was afraid of breaking everything, but basically here's where we're at:

* Use commonmark `0.7.x` if you rely on `CommonMark` package name.
* Use commonmark `>=0.8.1` if you're relying on the `commonm

[2018-09-10 13:41] #134 closed

[2018-09-10 13:43] nikolas commented on #137
As of version 0.8.1, you need to replace all instances of `CommonMark` with `commonmark`.

[2018-09-10 14:08] edmorley commented on #137
Hi! That's a breaking change - hence filing this issue.
Please could you take another look?

[2018-09-10 14:12] edmorley commented on #137
Or to be extra clear:

Making breaking changes in minor version releases is not ideal. This issue was requesting that a new 0.8.x be released with the breaking change reverted, and then the breaking change be re-released afterwards in v1.0.

[2018-09-19 18:21] agjohnson commented on #136
I'm probably +0, I don't see a huge benefit to moving ownership of the repo. We're also happy to include anyone in a team here to give commit/admin access.

My only reservation is where commonmark-py deviates and breaks backwards compatibility with recommonmark -- I don't know the intent of Jazzband or how invested they are in recommonmark. We should have a document that outlines what supporting r

[2018-09-19 18:59] nikolas commented on #94
Alright, it looks like GitHub's completed this.

[2018-09-19 18:59] #94 closed

[2018-09-19 19:00] nikolas commented on #136
Alright, given the lukewarm response I'll close this. I suppose there aren't any major reasons not to keep this project under rtfd.

[2018-09-19 19:00] #136 closed

[2018-10-02 15:53] nikolas commented on #137
I recommend staying at version 0.7.x if you're using the `CommonMark` package name, see: https://github.com/rtfd/CommonMark-py/issues/134#issuecomment-419916034

As far as releasing new version to revert changes - if someone else wants to handle it that's cool, but personally I just don't put much importance in versioning schemes.

[2018-10-02 15:53] #137 closed

[2018-11-07 08:40] bradwood commented on #96
Hi... This is still down like a year later...   Can you fix pls?

[2019-02-27 09:08] swier opened #139 "nested emphasis and strong tags when phrase ends in colon"
The following code results in a nested `<strong>` tag:
[code]
Using a single asterisk results in identical behavior but with nested `<em>` tags. Underscores aren't converted.

The following input behaves differently:
[code]
Which yields:
[code]
The combination of a colon, no space, and another bold item seems to result in this behaviour, as the following inputs behave as expected:
[code]
Yield:
[c

[2019-05-02 14:18] nikolas opened #142 "Update to commonmark spec 0.29"
This was released on April 6th. https://spec.commonmark.org/0.29/

[2019-05-02 14:22] nikolas commented on #139
It seems like this is a problem with CommonMark's specification, and not this python library. I'm seeing the same problem on [here](https://spec.commonmark.org/dingus/):

![2019-05-02-102102_1203x517_scrot](https://user-images.githubusercontent.com/59292/57082096-139da880-6cc4-11e9-8577-53f21aeef79b.png)

I would raise this issue here so the spec can be updated: https://talk.commonmark.org/

Corre

[2019-05-02 14:22] #139 closed

[2019-05-02 18:51] iamahuman commented on #142
I also forgot to check issues (maybe due to lack of sleep), shall we consider this closed?

[2019-05-02 18:53] nikolas commented on #142
The tests are checked automatically against the spec.txt file and they were passing, so it should be fine.

[2019-05-02 18:53] #142 closed

[2019-05-02 20:34] #128 closed

[2019-05-03 13:39] #96 closed

[2019-05-03 13:40] nikolas commented on #96
Working now, though they are kind of sparse: https://commonmarkpy.readthedocs.io/en/latest/api.html

[2019-05-03 13:42] pyup-bot opened #146 "Initial Update"
The bot created this issue to inform you that pyup.io has been set up on this repo.
Once you have closed it, the bot will open pull requests for updates as soon as they are available.

[2019-05-03 13:42] #146 closed

[2019-05-23 08:18] pgajdos opened #157 "CHANGELOG.md in pypi tarball"
Could you please consider to add CHANGELOG.md into release tarball?

[2019-06-17 04:21] mthuurne commented on #106
Since CommonMark doesn't include often-used features like tables yet, extension support is essential for a lot of use cases. I found a project that built such an extension, but they're running into problems, possibly because the parser wasn't designed to be extended: https://github.com/GovReady/CommonMark-py-Extensions/issues/2

The code of CommonMark.py is a lot cleaner than most Markdown process

[2019-06-26 08:06] sharpaper opened #166 "Do not escape HTML"
How can I avoid HTML escaping? For example

    **foo**
    <div>
        **bar**
    </div>

`foo` is emphasized but `bar` is not, and the `<div>` is escaped to `&lt;div&gt;`. I would like to leave the HTML as-is, and convert everything else.

[2019-09-14 09:16] sharpaper opened #195 "Do not hide link labels"
Sorry but how can I *not* hide link labels? For instance

    [foo][bar]
    ...
    [bar]: http://foo.bar "foo bar"

is turned into a link, but I want to keep the foot reference visible. What happens is that they are hidden, not rendered in the output.

[2019-09-14 11:27] sharpaper commented on #195
Probably what I'm looking for is "footnotes"? How do I insert a footnote? The syntax `[^1]` does not seem to work.

[2019-09-24 19:42] nikolas commented on #195
Someone might be able to help you by asking this question here as well: https://talk.commonmark.org/

[2019-10-04 15:39] nikolas commented on #157
Fixed in new version: 0.9.1.

[2019-10-04 15:39] #157 closed

[2019-10-07 00:50] dend opened #208 "Support for YAML front-matter"
Currently, when getting the AST for a Markdown file with YAML front-matter, the content is not identified as such.

<img width="860" alt="image" src="https://user-images.githubusercontent.com/1389609/66278833-af2dd900-e861-11e9-82ec-59bc3fe68358.png">

`thematic_break` is seen first, but after that the closing `---` is not properly identified and is seen as part of the header.

[2019-11-15 12:13] sylvestre commented on #208
Simple test case
[code]

With index.md
[code]

Generates
[code]

[2020-02-02 08:02] sylvestre commented on #208
Here is what i implemented for Firefox
https://searchfox.org/mozilla-central/rev/2e355fa82aaa87e8424a9927c8136be184eeb6c7/tools/moztreedocs/__init__.py#127

If a fm header is found, extract the data and inject it in the markdown file

[2020-02-07 02:22] choldgraf commented on #106
Another +1 for an extension API (or documentation on how to do it). We'd love to build on top of CommonMark-py but need more functionality than commonmark offers

[2020-03-23 17:06] MartinFalatic opened #260 "Pyup Safety check is flagging security vulnerabilities within commonmark 0.9.1"
Pyup Safety (https://pyup.io/safety/) is flagging the following security vulnerabilities in `commonmark` (which blocks builds for those like us who use Safety as a build gate). The report appears to be referring to the spec version underlying commonmark itself.

[code]

[2020-03-23 17:58] MartinFalatic commented on #260
FYI, I've created a ticket with Safety as well (https://github.com/pyupio/safety/issues/290) because it's not clear whether this is an issue with the Python version of commonmark or if it's being flagged incorrectly for an issue in the Javascript package of the same name.

Does commonmark end up using that Javascript package directly or indirectly?

[2020-03-23 21:40] MartinFalatic commented on #260
Update: looks like this was a Safety DB issue and the issue is no longer being flagged.

If the issue reoccurs I will re-open this issue.

[2020-03-23 21:40] #260 closed

[2020-03-27 20:22] yujiri8 commented on #166
It's been a few months and it looks like the `<div>`s are not escaped anymore, but the `**bar**` is still not processed. It seems to work if you add blank lines around the content of the `<div>` (I've discovered this in other markdown processors, like mistune).

[2020-06-02 10:27] chrisjsewell commented on #208
Note that front matter is supported by https://myst-parser.readthedocs.io/en/latest/using/syntax.html#front-matter (as used by [jupyterbook](https://jupyterbook.org))

[2020-09-24 13:18] dependabot-preview[bot] opened #267 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/readthedocs) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/readthedocs/update-logs/48609463).

[2020-09-25 13:19] #267 closed, assigned to nobody

[2020-11-23 06:06] flynxea opened #269 "Nested list in markdown cannot convert to rst correctly"
[code]
should show as:
* abc
    - 123
    - 456
* def

But with the code:
[code]
it cannot output the correct rst string.

[2021-03-11 20:57] nikolas opened #290 "migrate to github actions for testing"
Travis stopped working: https://travis-ci.org/rtfd/commonmark.py

[2021-05-04 11:07] Toliak commented on #269
The same issue.
Sometimes `node.list_data['marker_offset']` contains invalid offset number, so, that's **parsing to AST** issue.

Example:
![image](https://user-images.githubusercontent.com/25643405/116994687-b63cf780-ace1-11eb-9ce4-0b9502b56508.png)

[2021-05-06 12:20] chrisjsewell commented on #106
https://github.com/executablebooks/markdown-it-py 😉

[2021-05-19 10:38] astrojuanlu opened #308 "Deciding the future of `commonmark.py`"
Hi everyone, from Read the Docs we would like to open up the question about the future of `commonmark.py`. The landscape of Markdown in Python and Sphinx has changed a lot over the past 12 months, and in particular [markdown-it-py](https://github.com/executablebooks/markdown-it-py) by @chrisjsewell _et al_ achieves a level of extensibility that is beyond what's possible with `commonmark.py` (see h

[2021-05-20 15:35] nikolas commented on #308
I'm all for transferring commonmark.py to [Jazzband](https://jazzband.co/) so it can receive better regular maintenance and attention!

[2021-05-20 15:44] nikolas commented on #308
@astrojuanlu I've submitted a proposal to move this package to jazzband here: https://github.com/jazzband/help/issues/221

[2021-05-20 16:15] astrojuanlu commented on #308
Thanks a lot @nikolas ! I subscribed there 👍🏽

[2021-05-20 17:18] lu-zero commented on #308
I'm fine with moving it or favor markdown-it-py.

[2021-05-20 20:20] ericholscher commented on #308
Yea, Jazzband seems like a good home if we want to keep it maintained in some fashion 👍

[2021-07-20 06:53] tejasvi opened #309 "AST produced for lists with mixed bullets is incorrect"
The AST produced for
[code]
is equivalent to
[code]
When using mixed bullets, the non `*` items are ignored. See [official demo](https://spec.commonmark.org/dingus/?text=a%0A-%20b%0A%2B%20c%0A*%20d) for expected behavior.
Steps to reproduce:
[code]

[2021-07-20 07:50] tejasvi commented on #308
I would add that no other commonmark compliant parser in python provides source level map for the ast which is required for efficient documentation manipulation.

[2021-07-20 10:59] astrojuanlu commented on #308
Summonning @chrisjsewell on this

[2021-07-20 11:15] chrisjsewell commented on #308
yep markdown-it/markdown-it-py does

If you want to use [commonmark.js](https://github.com/commonmark/commonmark.js) over [markdown-it](https://github.com/markdown-it/markdown-it) that obviously that's absolutely fine.
But I looked through all the markdown parsers for myst-parser, and well  there is a reason markdown-it has 10 times the GitHub stars, and is used by VS Code etc; it's just a lot bet

[2021-07-20 11:20] tejasvi commented on #308
@chrisjsewell Does it provide map from tokens to locations in source? AFAIK original JS markdown-it does not provide them https://github.com/markdown-it/markdown-it/issues/336 In JS world, only commonmark.js (block granularity) and remark (inline granularity) provide such info.

Edit: Oops, my memory failed me. Markdown-it does provide line position but not character position. Somehow I couldn't f

[2021-07-20 11:42] chrisjsewell commented on #308
Yes it does, in the `map` attribute; it provides block level mapping to source lines: https://markdown-it.github.io/
But then you have already discussed this in markdown-it/markdown-it#336

No doubt, inline level (column) mapping would be great, but personally I think it would be a lot better to create an adapted version of markdown-it rather than commonmark.js, if you ever want to consider extend

[2021-07-20 11:43] chrisjsewell commented on #308
https://ui.toast.com/weekly-pick/en_20200402 looks interesting though, will certainly keep an eye on it 😄

[2021-08-23 15:36] tstehr opened #310 "Incorrect end sourcepos for fenced code blocks"
The end of the `sourcepos` is set incorrectly for fenced code blocks.

For the following example, the `sourcepos` is given as `[[1, 1], [4, 1]]` while I would have expected `[[1, 1], [4, 3]]`:

[code]

It seems that the offset in the line is taken from the line preceding the closing code fence, while the line number itself is taken from the line of the code fence itself.

Notice that in the follow

[2021-09-25 16:19] Lonami opened #311 "Use an enumeration for the nodes' t"
Currently, figuring out the available types a node can be requires either reading through the source code or trial and error. I would sugget using [`enum`](https://docs.python.org/3/library/enum.html#module-enum) instead. If there's interest in this change, I could send a pull request, although I'm guessing this would be a breaking change.

[2021-11-05 13:10] matkoniecz opened #312 "Consider editing repository setings to remove "Packages" section"
"Packages No packages published" is displayed right now, fortunately this pointless section can be removed.

Edit repo page config to remove it (cog next to the description).

I am not making a PR as it is defined in proprietary github settings, not in a git repository - and I have no rights to modify repo settings.

![Peek 2020-10-25 09-10](https://user-images.githubusercontent.com/899988/9710201

[2022-02-07 21:53] md975 opened #313 "Issue with HTML-looking tags"
Hi,

I'm trying to process a text coming from StackExchange in Python. It seems to be ok, except that HTML-looking tags are gone when I run
`html=commonmark.commonmark(s)`
 e.g.
`s=<p><em>This is an <example></em>. <example2> <a href="[LINK]">test</a></p>`
becomes
_This is an_ . test

How can I fix this and have:
`This is an <example>. <example2> test`

Thanks!

[2022-03-17 20:41] ericholscher commented on #308
Any progress on Jazzband migration here? Seems like this is mostly stalled, so tempted to add a note archiving it unless anyone else feels strongly.

[2022-03-25 19:52] #28 closed

[2022-03-25 19:52] #31 closed

[2022-03-25 19:52] #32 closed

[2022-03-25 19:52] #45 closed

[2022-03-25 19:52] #49 closed

[2022-03-25 19:52] #63 closed

[2022-03-25 19:52] #85 closed

[2022-03-25 19:52] #91 closed

[2022-03-25 19:52] #106 closed

[2022-03-25 19:52] #166 closed

[2022-03-25 19:52] #195 closed

[2022-03-25 19:52] #208 closed

[2022-03-25 19:52] #269 closed, assigned to nobody

[2022-03-25 19:52] #290 closed, assigned to nobody

[2022-03-25 19:52] #309 closed, assigned to nobody

[2022-03-25 19:52] #310 closed, assigned to nobody

[2022-03-25 19:52] #311 closed, assigned to nobody

[2022-03-25 19:52] #312 closed, assigned to nobody

[2022-03-25 19:52] #313 closed, assigned to nobody

[2022-03-25 19:54] ericholscher commented on #308
I'm now going to archive this repo. Please reach out to me if anyone is interested in continuing to maintain this, but it seems there's already a solid replacement, and we aren't going to do any more work on this project.